.footer
  %ul
    %li
      By Source,
      %a{ href: "en.wikipedia.org/wiki/File:Neverwinter_Nights_cover.jpg",
          title: "Fair use of copyrighted material in the context of Neverwinter Nights" } Fair Use,
      %a{href: "https://en.wikipedia.org/w/index.php?curid=1954400" } Neverwinter Nights Box Art

    %li
      By Source,
      %a{ href: "en.wikipedia.org/wiki/File:Neverwinter_Nights_2_box_art.jpg",
          title: "Fair use of copyrighted material in the context of Neverwinter Nights 2" } Fair Use,
      %a{href: "https://en.wikipedia.org/w/index.php?curid=7501552" } Neverwinter Nights 2 Box Art

    %li
      By Source,
      %a{ href: "https://www.beamdog.com/assets/products/31860/original/Poster.png",
          title: "Fair use of copyrighted material in the context of Neverwinter Nights: Enhanced Edition" } Fair Use,
      %a{href: "https://www.beamdog.com/products/neverwinter-nights-enhanced-edition" } Neverwinter Nights: Enhanced Edition Box Art
